section {
  width:100vw;
  padding-top: 33vh;
}

h1 {
  font-size: xxx-large;
  text-align: center; 
  margin-bottom: -0.75ch;
}

.mirrored {
  transform: scaleX(-1);
  transform: scaleY(-1);
  background: linear-gradient(0deg, rgba(var(--inactive), 0.75) 10%, rgba(var(--inactive), 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: -0.75ch;
}

