section {
  width:100vw;
  padding-top: 25vh;
  text-align: center; 
}

h1 {
  font-size: xxx-large;
  color: rgb(--foreground);
  user-select: none;
}


h3 {
  font-size: x-large;
  font-family: var(--mono-font);
  color: rgb(var(--emphasis));
  user-select: none;
}

.mirrored {
  transform: scaleX(-1);
  transform: scaleY(-1);
  background: linear-gradient(0deg, rgba(var(--inactive), 0.75) 10%, rgba(var(--inactive), 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: -0.5ch;
  user-select: none;
}

.link {
  filter: drop-shadow(rgb(var(--emphasis)) 0 0 5px);
  border-radius: calc(infinity * 1px);
  transition: all 0.5s;
  background-color: black;
  height: 5rem;
  width: 5rem;
  margin: 1.5rem;
  cursor: pointer;
}

.link:hover {
  filter: drop-shadow(rgb(var(--emphasis)) 0 0 15px);
}

.icon {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  transition: all 0.5s;
  color: rgba(var(--foreground), 0.85);
}

.link:hover .icon {
  color: rgb(var(--foreground));
}

.typewriter {
  border-right: 1ch solid transparent;
  font-size: x-large;
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  animation: typing 3.5s steps(28, end),
    blink-caret 1s step-end 4;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(var(--emphasis), 1) }
}
