section {
  width:100vw;
  padding-top: 33vh;
  text-align: center; 
}

h1 {
  font-size: xxx-large;
  margin-bottom: -0.5ch;
  color: rgb(--foreground);
}


h3 {
  font-size: x-large;
  font-family: var(--mono-font);
  color: rgb(var(--emphasis));
}

.mirrored {
  transform: scaleX(-1);
  transform: scaleY(-1);
  background: linear-gradient(0deg, rgba(var(--inactive), 0.75) 10%, rgba(var(--inactive), 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: -0.5ch;
}

.glowEmphasize {
  filter: drop-shadow(rgb(var(--emphasis)) 0 0 5px)
}
