.projects {
  margin: 30vh auto;
  width: 48rem;
  max-width: 90vw;
}


.tv {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: white;
  border-radius: 10%;
  mask-clip: border-box;
  filter: drop-shadow(rgba(255, 255, 255, 0.5) 0 0 2rem);
  overflow: hidden;
}

.tv img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.noise {
  width: 300%;
  height:300%;
  background-image: url("../assets/256x256_Dissolve_Noise_Texture.png");
  background-repeat: repeat;
  background-position: 0 0;
  animation: static 1s steps(1) infinite;
}

.eject {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  filter: drop-shadow(white 0 0 0px);
  transition: all 250ms;
}

.eject:hover {
  filter: drop-shadow(white 0 0 5px);
}

@keyframes static {
  0%, 100% { background-position: 0 0}
  50%{
    background-position: -5% -10%
  }
  20%{
    background-position: 15% 20%
  }
  30%{
    background-position: -5% -10%
  }
  40%{
    background-position: 15% 20%
  }
  50%{
    background-position: -5% -10%
  }
  60%{
    background-position: -35% -50%
  }
  70%{
    background-position: 50% 10%
  }
  80%{
    background-position: 15% 54%
  }
  90%{
    background-position: -5% 19%
  }
  100%{
    background-position: -28% 80%
  }
}

.smallLink {
  filter: drop-shadow(rgb(var(--emphasis)) 0 0 5px);
  border-radius: calc(infinity * 1px);
  transition: all 0.5s;
  background-color: black;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.smallLink:hover {
  filter: drop-shadow(rgb(var(--emphasis)) 0 0 15px);
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  transition: all 0.5s;
  color: rgba(var(--foreground), 0.85);
}

.markdown {
  margin-top: 1rem;
  font-size: large;
}

.markdown h1 {
  font-weight: bold;
  font-size: xxx-large;
}

.markdown h2 {
  font-size: xx-large;
  font-weight: bold;
}

.markdown h3 {
  font-size: x-large;
  font-weight: 600;
  color: rgb(var(--foreground));
}

.markdown p {
  margin-bottom: 1rem;
}

.markdown ul {
  list-style-type: square;
  margin-left: 1rem;
}

.markdown ul.a {list-style-type: circle;}
.markdown ul.b {list-style-type: disc;}
.markdown ul.c {list-style-type: square;}
