.fullbutton {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--background));
  border-style: solid;
  border-color: rgb(var(--foreground));
  border-width: 3px;
  padding: 4px;
  margin-bottom: 1rem;
  font-size: 20pt;
  cursor: pointer;
  transition: all 0.25s;
}

.fullbutton:hover {
  background-color: rgba(var(--inactive), .5);
}

.timeline, .blurb {
  border-style: none;
  border-left-style: solid;
  border-color: rgba(var(--inactive), 0.75);
  width: 100%;
  border-width: 3px;
  padding-left: 1rem;
}

.blurb {
  font-size: 14pt;
  color: rgb(var(--inactive));
}

.timestamp, .blurb {
  margin-bottom: 1rem;
}

.timestamp {
  color: rgba(var(--foreground), 0.65);
  transition: all 0.5s;
}

.timestamp:hover {
  color: rgba(var(--foreground), 1);
  margin-left: 1rem;
}

.project {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  cursor: pointer; 
}

.project:hover {
  margin-left: 1rem;
}

.project h1 {
  font-size: xx-large;
  font-weight: bold;
}

.project p {
  color: rgb(var(--inactive));
}

.project img {
  width: 240px;
  height: 135px;
}

